
	/*REUTILLISABLE*/

.center {
	display: flex;
	justify-content: center;
	align-items: center;

}
.center-column {
	/*justify-content: center;	*/
	text-align: center;
	font
}
.center2{
	width: 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
	/*border: 2px solid green;*/
}
.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*border:2px solid yellow;*/
}
.container2{
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*border:2px solid red;*/

}

body {
	background-color: #EDEFED;
}
a{
	text-decoration: none;
	color: white;
}





































	/*>>>DIV HEADER<<<*/
header {
	background-image: url("../images/poster.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 650px;
}
nav {
	min-width: 40%;
	display: flex;
/*	border:2px solid black;*/
}
#logo{
	/*border:2px solid green;*/
}
#logo img{
	width: 50%;
	/*border:2px solid green;*/
}
#nav-bar {
	width: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
/*	border:2px solid pink;*/
}
#nav-bar a {
	text-decoration: none;
	color: white;
}
	/*titre header*/
#titre {
	min-height: 500px ;
	color: white;
}
#titre h1{
	text-transform: uppercase;
	/*font-size: 35px;*/
}
#centralisation-du-centrage-au-milieu-du-centre-de-la-div-central-le-tout-centre{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	font-weight: bold;
	/*border:2px solid red;*/
}

#footer-du-header-en-gros-c-est-le-bas-de-page-du-haut-de-la-page {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	min-height: 100px;
	/*border: 3px solid green;*/
}
#form {
	width: 80%;
	min-height: auto;
	display: flex;
	justify-content: center;
	/*border: 5px solid orange;*/
	
}
form {
	display: flex;
	justify-content: center;
}
input {
	width: 300px;
}


































	/*DIV ACCUEIL*/

#accueil {
	width: 100%;
	height: 500px;
	/*border: 2px solid black;*/
}
#bannnnnnnnnnzaiiii{
	width: 80%;
	height: 400px;
	background-color: white;
	/*border: 2px solid blue;*/
	
}
#ouane {
	width: 70%;
	min-height: 400px;
	background-image: url("../images/marie-michael.jpg");
	background-size: cover;
	/*border: 2px solid red;*/
}
#tou{
	width: 30%;
	display: flex;
	flex-direction: column;
	/*border: 2px solid green;*/
	padding:0 20px;
	
}






































	/*DIV SOUS-TITRE*/

#toutouyoutou{
	display: flex;

}
.sous-titre {
	flex-direction: column;
	color:#565A5C;
	/*border: 2px solid yellow;*/
}

.img-all{
	height: 350px;
	min-width: 300px;
	/*max-width: 380px;   */
	margin: 10px;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-flow; wrap;
	font-size: 20px;
	font-weight: bold;
	/*border: 2px solid blue;*/
	flex:1 1 0;
}

#paris{
	background-image: url("../images/PARIS_1.jpg");
}
#bruxelle{
	background-image: url("../images/belgique-bruxelles-2.jpg");	
}
#londre{
	background-image: url("../images/Sejour linguistique a Londres.jpg");	
}




#lisbonne{
	background-image: url("../images/lisbonne.jpg");
	flex-grow:2;
	flex-basis:20px;
	min-width:350px;
}
#susanna{
	background-image: url("../images/susanna.jpg");	

}
#amsterdam {
	background-image: url("../images/amsterdam.jpg");

}
#new-york {
	background-image: url("../images/new york.jpg");

}
#bois{
	background-image: url("../images/bois.jpg");

}
#nathalie {
	background-image: url("../images/nathalie.jpg");

}
#rome {
	background-image: url("../images/rome.jpg");
	flex-grow:2;
	flex-basis:20px;
	min-width: 400px; 

}
#berlin {
	background-image: url("../images/berlin.jpg");

}
#bordeaux{
	background-image: url("../images/bordeaux.jpg");

}
#biarritz {
	background-image: url("../images/biarritz.jpg");
	/*justify-content: auto;*/

}








 




















	/*DIV BANNER*/

#banner {
	width: 100%;
	height: 600px;
	background-image: url("../images/voyage.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	margin: 30px auto;
}
#banner h1 {
	font-size: 50px;
	text-transform: uppercase;
}























	/*DIV CATEGORIE*/


#categorie {
	width: 100%;
	display: flex;
	justify-content: center;
}
.img-cat {
	height: 450px;
	min-width: 300px;
	/*max-width: 380px;   */
	margin: 10px;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-flow; wrap;
	font-size: 20px;
	font-weight: bold;
	/*border: 2px solid blue;*/
	flex:1 1 0;
}
#crea {
	background-image: url("../images/");
}
#voyage {
	background-image: url("../images/ballade-bois.jpg");
}
#affaire {
	background-image: url("../images/duo.jpg");
}
#hebergement {
	background-image: url("../images/hebergement.jpg");
}





























	/*DIV FOOTER*/

footer{
	width: 100%;
	min-height: 500px;
	vertical-align: top;
	background-color: grey;
	color: white;
}
#footer-top {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	/*flex-direction: column;*/
	border: 2px solid green;
}
#form{
	background-color: red;
	width: 200px;
	flex-direction: column;
}
